@page "/setup/user"
@inject HttpClient HttpClient

<NavLink href="/setup/user/create" class="btn btn-success">Create user</NavLink>

@if(Model is not null)
{
    int count = 0;

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Address</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.data)
            {
                <tr>
                    <th scope="row">@(++count + (Model.pageNo - 1) * Model.pageSize)</th>
                    <td>
                        <a href="/User/Edit/@user.UserId" class="btn btn-warning">Edit</a>
                        <a href="/User/Delete/@user.UserId" class="btn btn-danger">Delete</a>
                    </td>
                    <td>@user.UserId</td>
                    <td>@user.UserName</td>
                    <td>@user.UserEmail</td>
                    <td>@user.UserPhone</td>
                    <td>@user.UserAddress</td>
                </tr>

            }
        </tbody>
    </table>
    <MudPagination SelectedChanged="PageChanged" Count="@Model.pageCount" Class="pa-4" />
}
