@model List<UserDataModel>
@{
    ViewData["title"] = "user";
}
<a href="/UserAjax/Create" class="btn btn-success">Add new user</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Address</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var user in Model)
        {
            <tr>
                <th scope="row">
                    <a href="/UserAjax/Edit/@user.UserId" class="btn btn-warning">Edit</a>
                    <button type="button" class="btn btn-danger btn-delete" data-user-id="@user.UserId">Delete</button>
                </th>
                <td>@user.UserId</td>
                <td>@user.UserName</td>
                <td>@user.UserEmail</td>
                <td>@user.UserPhone</td>
                <td>@user.UserAddress</td>
            </tr>
            
        }
    </tbody>
</table>



@section scripts {

    <script>

        $('.btn-delete').click(function (e) {

            const result = confirm("Are you sure to delete?");
            if(!result) return;

            const id = $(this).data('user-id');

            const rm = {
                UserId : id
            };
            console.log(rm);
            $.ajax({
                type: "POST",
                url: "/UserAjax/Delete",
                data: {
                    reqModel: rm
                },
                dataType: "json",
                // contentType: "application/json; charset=utf-8",
                success: function (data) {
                    alert(data.message);
                    location.href = "/UserAjax"
                },
                error: function (ex) {
                    console.log(ex);
                }
            }
            );
        })
    </script>
}
